<div class='row'>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><%= hour.name %></small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table class="table table-striped">
          <tbody>
            <tr>
              <td class='right'>Nome:</td>
              <td><%= hour.name %></td>
            </tr>
            <tr>
              <td class='right'>Início:</td>
              <td><%= hour.start_at %></td>
            </tr>
            <tr>
              <td class='right'>Fim:</td>
              <td><%= hour.end_at %></td>
            </tr>
            <tr>
              <td class='right'>Dias</td>
              <td><%= hour.days.map(&:capitalize).join(', ') %></td>
            </tr>
          </tbody>
        </table>

        <%= link_to 'Voltar', routes.hours_path %>
        <%= render partial: 'hours/buttons' %>
      </div>
    </div>
  </div>
</div>
