<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Freepass</title>

    <%= stylesheet 'bootstrap.min' %>
    <%= stylesheet 'font-awesome.min' %>
    <%= stylesheet 'select2' %>
    <%= stylesheet 'custom.min' %>
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
  <!-- jQuery -->
  <%= javascript 'jquery.min' %>
  <%= javascript 'jquery.maskedinput.min' %>
  <%= javascript 'bootstrap.min' %>
  <%= javascript 'iCheck.min.js' %>
  <%= javascript 'bootstrap-progressbar.min' %>
  <%= javascript 'date' %>
  <%= javascript 'select2' %>
  <%= javascript 'custom' %>
</html>
