<div class='row'>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><%= holiday.name %></small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table class="table table-striped">
          <tbody>
            <tr>
              <td class='right'>Nome:</td>
              <td><%= holiday.name %></td>
            </tr>
            <tr>
              <td class='right'>Data:</td>
              <td><%= holiday.happen_at %></td>
            </tr>
          </tbody>
        </table>

        <%= link_to 'Voltar', routes.holidays_path %>
        <%= render partial: 'holidays/buttons' %>
      </div>
    </div>
  </div>
</div>
